* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --cor-fundo:#fdf4f5;
    --cor-base: #e8949c;
    --cor-subtomabaixo: #be6c77;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
 /*
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vh;

   justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh; */
}
.logo {
    align-self: left;
    margin-right: 50px;
}
.busca {
    margin-right: 50px;
}
.botoes {
    justify-content: space-between;
    width: auto;
    height: auto;
}
.perfil {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.favorito {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-top: 8px;
}
.sacola {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-top: 6px;
}
.configurações {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
div { 
    display: flex;
    flex-direction: row;
}
header {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
}
form {
    display: flex;
    justify-content: space-between;
    width: 550px;
    border: 2px solid #e8949c;
    border-radius: 0.3em;
    padding: 0.3em;
}
form input{
    color: -cor-base;
    font-size: 1.2em;
    border-radius: 0.2em;
    border: none;
    padding: 0.2em;
    display: flex;
    position: relative;
    padding-left: 10px;
    background: none;
    width: 450px;
}
form input::-webkit-input-placeholder{ 
    font-weight: lighter;
    font-style: italic;
   color: var(--cor-base);
}
form button { 
    font-size: 1.2em;
    border-radius: 0.2em;
    border: none;
    padding: 0.2em;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background: none;
    color: var(--cor-base);
}
form button:hover {
    background-color: whitesmoke;
    color:#97465196;
}

/* menu */

nav {
    margin: 20px 300px;
}
.menu_ ul {
    background-color: var(--cor-subtomabaixo); 
    position: relative;
    width: 850px;
    text-align: center;
}
.menu_ ul li {
    display: inline; 
}
.menu_ ul li a {
    color: white;
    padding: 15px;
    text-decoration: none;
    display: inline-block; /* colocar alinhado horizontalmente(em uma linha)*/
}
.menu_ ul li a:hover{
    color:#f8edeb;
    background-color: var(--cor-base);
}

/* sub menu */

.menu_ ul ul{
    background-color: var(--cor-subtomabaixo); 
    display: none;
    position: absolute;
    width: 150px;
    left: 60px;
}
.menu_ ul li:hover ul{
    display: block;
}

.menu_ ul ul li a {
   display: block;
}




/** Slide **/

.container {
    height: 400px;
    width: 1000px;
    border-radius: 20px;
    margin: 25px 0;
    overflow: hidden;
    position: relative;
}

.navigation {
    position: relative;
    bottom: 20px;
    left: 56%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid #8b595e;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover {
    background-color: brown;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 28%;
}

/*vitrine*/

main{
    margin: 20px 0px 20px;
}
h3 {
margin-bottom: 2rem;
text-align: center;
color: var(--cor-subtomabaixo);
}
.produtos {
width: 90vw;
margin: 0px 1px 0px 10px;
}
main .produtos .vitrines {
display:flex;
flex-direction:row-reverse;
margin: 0px 50px;
}
.vitrine {
background: #f8f8ff;
margin-bottom: 20px;
display:flex;
flex-direction:column;
border-radius:5px;
box-shadow: 1px 1px 3px rgb(255, 175, 175);
}
.vitrine img {
border-radius: 5px 5px 0px 0px;
}
.vitrine h4 {
    padding: 0px 20px;
    text-align:center;
    font-size: 1.2rem;
    margin-bottom:5px;
}
.vitrine p {
    padding: 0px 20px;
    font-size: 1rem;
}
a {
    text-decoration: none;
    color: black;
}
.vitrine #botao {
    width: 50%;
    margin: 5px auto;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border:  1px solid rgb(255, 175, 175);
    text-transform: uppercase;
    color: seashell;
    background-color: var(--cor-base);
    cursor: pointer;
    box-shadow: 1px 1px 3px rgb(0,0,0,0.3);
}
.vitrine #botao:hover {
    background-color: #efb4ba;
    color: #8b595e;
}


/* Rodapé  */
.text {
    text-decoration: none;
    color: ivory;
}
footer{
    width: 100%;
    height: 8rem;
    background-color: var(--cor-subtomabaixo);
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.footer-containner1 {
    display: flex;
    justify-content: space-around;
}
.colum1 {
    margin-left: 60px;
}
.colum3 {
    margin-right: 60px;
}