* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #6d3737;
    border: none;
  }
  
  body {
    background-color: #f8edeb;
    background-size: cover;
    position: absolute; 
	left: 100px; /* posiciona a 90px para a esquerda */ 
	top: 5px;
 
  }



  /*
  width: 400px;
  padding: 20px 30px;
  margin-top: 30vh;
  border-radius: 10px;
  text-align: center; */