
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(133deg,#f8edeb,#be6c77);
}

.container {
    max-width: 700px;
    width: 100%;
    background: linen;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
 content:'';
 position: absolute;
 left: 0;
 bottom: 0;
 height: 3px;
 width: 30px;
 background: linear-gradient(133deg,#f8edeb,#be6c77);
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
}