* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #6d3737;
    border: none;
  }
  
  body {
    background-color: #f8edeb;
  }
  
  div#envio {
  width: 400px;
  background-color: #fcd5ce;
  padding: 20px 30px;
  border-radius: 10px;
  position: relative;
  left: 500px;
    top: 0.2px; 
  }

  img.f1{
    height: 130px;
    width: 300px;
    position: relative;
    left: 540px;
    top: 10px; 
  }

  a.x1 {
    position: relative;
    left: 650px;
    top: 5px; 
  }

/* Tela 2 */

img.f2{
    height: 130px;
    width: 300px;
    position: relative;
    left: 540px;
    top: 10px; 
  }

  h1 {
      font-size: 18px;
  }

div#senha {
    position: absolute; 
	left: 490px; /* posiciona a 90px para a esquerda */ 
	top: 70px;
  background-color: #fcd5ce;
  margin-left: left;
  width: 400px;
  padding: 20px 30px;
  margin-top: 10vh;
  border-radius: 10px;
  text-align: center;
}
 
label, input {
    display: block;
    width: 100%;
    text-align: left;
  }
  
  label {
    font-weight: bold;
    font-size: .8rem;
  }
  
  input {
    border-bottom: 2px solid #6d3737;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  a:hover {
    color:#81365b;
  }

  a {
    font-size: 20px;
    cursor: pointer;
  }