/* geral */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  color: #6d3737;
  border: none;
}
:root{
  --cor-branco: #FFF;
  --cor-base: #e8949c;
  --cor-subtomabaixo: #be6c77;
  --cor-branca: white;
  --cor-marrom-letras: #97465196;
}
body {
  background-color: #f8edeb;
  background-size: cover;
}

textarea:focus, input:focus{
  outline: none;
}

a {
  font-size: .8rem;
  text-decoration: none;
}

a:hover {
  color: #81365b;
}

/* container login */

#login-container {
  position: absolute; 
	left: 90px; 
	top: 70px;
  background-color: #fcd5ce;
  margin-left: left;
  width: 400px;
  padding: 20px 30px;
  margin-top: 10vh;
  border-radius: 10px;
  text-align: center;
}

/* formulário */

form {
  margin-top: 30px;
  margin-bottom: 40px;
}

label, input {
  display: block;
  width: 100%;
  text-align: left;
}

label {
  font-weight: bold;
  font-size: .8rem;
}

input {
  border-bottom: 2px solid #6d3737;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

input:focus {
  border-bottom: 2px solid #be6c77;
}

#forgot-pass {
  display: block;
  text-align: right;
}

input[type="submit"] {
  text-align: center;
  text-transform: uppercase;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;
  color: var(--cor-branco);
  background-color: #e2aaa0;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #6d3737;
  transition: .5s;
}

/* redes sociais */

#social-container {
  margin-bottom: 20px;
}

#social-container p {
  margin-bottom: 20px;
}

#social-container i {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  margin: 0 5px;
  color: var(--cor-branco);
}

.fa-facebook-f {
  background-color: #3B5998;
}

.fa-linkedin {
  background-color: #0077B5;
}

/* registrar */

#register-container {
  position: relative; 
	left: 760px; 
	top: 350px;
  background-color: #fcd5ce;
  margin-left: left;
  width: 400px;
  padding: 15px 25px;
  margin-top: 0.1vh;
  border-radius: 10px;
  text-align: center;
}

#register-container p {
  margin-bottom: 10px;
}

/* imagens */

img.i1 {
  position: absolute;
  left: 105px; 
  top: 8px; 
  max-height: 250px;
  max-width: 350px;
}

img.f2 {
  position: fixed;
  left: 700px; 
  top: 3px; 
  min-width: 489px;
  max-height: 489px;

}

.i2 {
  position: relative;
  margin: 40px 30px;
  max-height: 50px;
  max-width: 50x;
}


/* Rodapé  */
.text {
  text-decoration: none;
  color: ivory;
}
footer{
  width: 100%;
  height: 8rem;
  background-color: var(--cor-subtomabaixo);
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin: 400px 0px 0px 0px;
}
.footer-containner1 {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.colum1 {
  margin-left: 60px;
}
.colum3 {
  margin-right: 60px;
}