* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --cor-fundo:#fdf4f5;
    --cor-base: #e8949c;
    --cor-subtomabaixo: #be6c77;
    --cor-branca: white;
    --cor-marrom-letras: #97465196;
}

body{
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
}
.sacola {
    position: relative;
    left: 25px; 
    top: 5px; 
    max-height: 90px;
    max-width: 147px;
}
.começo {
    background-color: var(--cor-branca);
    align-self: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--cor-subtomabaixo);
}

.nome1 {
    margin: 0px 60px;
    font-size: 4;
}
.containner1 {
    margin-top: 30px;
    margin-left: 40px;
    height: 600px;
    width: 750px;
    border: 1px solid var(--cor-subtomabaixo);
    padding: 20px 200px;
    display: inline-block;
    border-radius: 5%;
    color: var(--cor-subtomabaixo);
}

.containner2 {
    display: inline-table;
    margin-left: 30px;
    height: 300px;
    width: 450px;
    border: 1px solid var(--cor-subtomabaixo);
    padding: 20px 60px;
    border-radius: 5%;
    color: var(--cor-subtomabaixo);
}

/* Rodapé  */
.text {
    text-decoration: none;
    color: ivory;
}
footer{
    width: 100%;
    height: 8rem;
    background-color: var(--cor-subtomabaixo);
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin: 90px 0px 0px 0px;
}
.footer-containner1 {
    display: flex;
    justify-content: space-around;
}
.colum1 {
    margin-left: 60px;
}
.colum3 {
    margin-right: 60px;
}