* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f8edeb;
}

.red {
    height: 100px;
    width: 600px;
    margin-top: 80px;
    margin-left: 500px;
    padding: 20px 20px;
    background-color: #e2aaa0;
    border-radius: 30px;
}

.f1 {
  height: 130px;
  width: 310px;
  position: relative;
  left: 610px;
  top: 30px; 
}